footer {
    padding: 1.5rem 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer p {
    color: #bdbdbd;
}

footer a {
    display: inline-flexbox;
    justify-content: center;
    color: var(--text-color);
    background: var(--hover-color);
    padding: .6rem;
    border-radius: 5px;
}

footer a i {
    font-size: 1rem;
    cursor: pointer;
    color: var(--secon-bg-color);
}
